
/* =========================
     TÍTULO E SUBTÍTULO
========================= */

.logo {
    font-size: 48px;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.game-sphere {
    color: #ff4500;
    font-family: 'Orbitron', sans-serif;
}

.news {
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
    margin-left: 10px;
}

.sublogo {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Orbitron', sans-serif;
}

/* =========================
          CONTATO
========================= */

.contato {
    max-width: 1300px;
    margin-top: 60px;
    margin: 40px auto;
    font-family: Roboto, Arial, sans-serif;
}

.form-contato {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgb(5, 5, 5);
    color: white;
    padding: 30px;
    border-radius: 12px;
}

.form-contato input,
.form-contato textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;

}

/* =========================
       RESPONSIVIDADE
========================= */

/* =========================
     NOTEBOOKS MENORES
========================= */

@media (max-width: 1366px) {

    .contato {
        width: 80%;
    }

    .logo {
        font-size: 40px;
    }

    .sublogo {
        font-size: 18px;
    }
}

/* =========================
          CELULAR
========================= */

@media (max-width: 768px) {

    /* LOGO */

    .logo {

        font-size: 32px;
        flex-wrap: wrap;
        text-align: center;
        margin-top: 40px;
    }

    .news {

        margin-left: 5px;
    }

    .sublogo {

        font-size: 16px;
        padding: 0 15px;
    }

    /* FORMULÁRIO */

    .contato {

        width: 90%;
        margin: 30px auto;
    }

    .form-contato {

        padding: 20px;
    }

    .form-contato input,
    .form-contato textarea {

        width: 100%;
        box-sizing: border-box;
        font-size: 16px;
    }

    .form-contato button {

        width: 100%;
    }
}

