header {
    margin: 0;
    font-family: Arial;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    padding: 10px;
}

h1 {
    color: white;
}



.gs {
    color: red;
}

.nav-btn {
    background-color: #f90e0e; 
    color: white;
    padding: 10px 20px;       
    margin-left: 10px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.nav-btn:hover {
    background-color: red;
}

nav a {
    color: white;
    margin-left: 10px;
    text-decoration: wavy;
}
main {
    margin-top: 30px;
}

.titulo-secao {
    font-family: 'Orbitron', sans-serif;
    font-size: 28px;
    letter-spacing: 1px;
}

/* centraliza tudo */
.principal {
    max-width: 700px;
    margin: auto;
}

/* NOTÍCIA PRINCIPAL */
.noticia-principal {
    background: white;
    color: black;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
}
.noticia-principal img {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: auto;
}



/* NOTÍCIA MENOR */
.noticia-menor {
    background: white;
    color: black;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px; /* controla o tamanho */
}

.noticia-menor img {
    width: 100%;
    border-radius: 8px;
}
/* FUNDO ESCURO */
body {
    background: rgb(65, 65, 65);
    color: white;
}

/* ESPAÇO ENTRE NOTÍCIAS */
.noticia-principal,
.noticia-menor {
    margin-bottom: 30px;
}

/* SOMBRA */
.noticia-principal,
.noticia-menor {
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* EFEITO HOVER */
.noticia-principal:hover,
.noticia-menor:hover {
   transform: translateY(-5px);
    transition: 0.3s;
}

/* BOTÃO */
.botao {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.botao:hover {
    background-color: #cc0000;
}

/* CONTAINER DAS NOTÍCIAS MENORES (lado a lado) */
.noticias-menores {
    display: flex;
    justify-content: center;
    gap: 20px; /* espaço entre elas */
    margin-top: 20px;
}

/* CAIXA DAS NOTÍCIAS MENORES */
.noticia-menor {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    width: 300px; /* tamanho fixo */
}

/* IMAGEM */
.noticia-menor img {
    width: 100%;
    border-radius: 8px;
}

/* texto das notícias */
.noticia-principal p,
.noticia-menor p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.6;
}

.noticia-principal h2,
.noticia-menor h3 {
    font-family: 'Orbitron', sans-serif;
}

