body {
    margin: 0;
    font-family: Arial;
}

header {
    display: flex;
    justify-content: space-between;
    background: #111;
    padding: 10px;
}

h1 {
    color: white;
}

.gs {
    color: red;
}

nav a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
}
main {
    margin-top: 30px;
}

/* centraliza tudo */
.principal {
    max-width: 600px;
    margin: auto;
}

/* NOTÍCIA PRINCIPAL */
.noticia-principal {
    background: white;
    color: black;
    border-radius: 10px;
    overflow: hidden;
}
.noticia-principal img {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: auto;
}



/* NOTÍCIA MENOR */
.noticia-menor {
    background: white;
    color: black;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    max-width: 400px; /* controla o tamanho */
}

.noticia-menor img {
    width: 100%;
    border-radius: 8px;
}

